In [2]:
import schedule
import time
from datetime import datetime
import pandas as pd

In [5]:
file_names = ["ventas_francia.xlsx", "ventas_españa.xlsx", "datos extra.xlsx"]
historical_file = "historical_data.csv"
dfs = [pd.read_excel(file, ) for file in file_names]

In [21]:
francia, españa, extra = dfs[0].iloc[1:,:], dfs[1].iloc[1:,:], dfs[2]
columns = ["Articulo", "Descripcion", "Unidades Vendidas","PVP"]

In [22]:
francia.columns = columns
españa.columns = columns[:3]

In [24]:
francia["pais"], españa["Pais"] = "Fr", "Es"

/tmp/ipykernel_44450/148413485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  francia["pais"], españa["pais"] = "Fr", "Es"
/tmp/ipykernel_44450/148413485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  francia["pais"], españa["pais"] = "Fr", "Es"

In [41]:
ventas = pd.concat([francia, españa]).merge(extra, left_on= "Articulo", right_on="ARTICULO")

In [59]:
ventas_x_familia = ventas.groupby(["Articulo", "Descripcion", "pais"])["Unidades Vendidas"].sum().reset_index()

In [60]:
ventas_x_familia

     Articulo       Descripcion pais Unidades Vendidas
0           1    Bonsai 10 años   Es               330
1           1    Bonsai 10 años   Fr                 7
2           2     Bonsai 5 años   Es               117
3           2     Bonsai 5 años   Fr               157
4           3     Bonsai 6 años   Es               398
..        ...               ...  ...               ...
195        98    Centro 3 Rosas   Fr                22
196        99  Rosa Cono Normal   Es               139
197        99  Rosa Cono Normal   Fr               352
198       100       Rosa Oferta   Es               408
199       100       Rosa Oferta   Fr               474

[200 rows x 4 columns]

In [66]:
result = pd.pivot_table(ventas_x_familia, values="Unidades Vendidas", index="Descripcion", columns="pais", aggfunc="sum")

pais                      Es   Fr
Descripcion
Abono Granulado 1000gr   358  327
Abono Granulado 500gr    116  358
Abono Liquido 1000cc     313   32
Abono Liquido 500cc      265  160
Abono Orquideas Liquido  386  273
...                      ...  ...
Tronco Brasil 2 Troncos  204  107
Tronco Brasil 3 Troncos  265  235
Violetero 20cm           263  258
Yuca 1 Tronco            107  344
Yuca 2 Tronco            302  348

[100 rows x 2 columns]

In [68]:
# Save the manipulated data with today's date
today_date = datetime.now().strftime("%Y-%m-%d")
today_date

'2024-01-11'

In [ ]:
output_file = f"manipulated_data_{today_date}.csv"
pivot_table.to_csv(output_file)

In [ ]:
def main():
        # identificar los nombres de los archivos en nuestro dorectorio
        file_names = ["ventas_francia.xlsx", "ventas_españa.xlsx", "datos extra.xlsx"]
        historical_file = "historical_data.csv" # df inicialmente vacio para adjuntar datos
        
        # crear una lista de nuestros archivos
        excels = [pd.read_excel(file, ) for file in file_names]

        # guardar individualmente cada archivo
        francia, españa, extra = excels[0].iloc[1:,:], excels[1].iloc[1:,:], excels[2]
        columns = ["Articulo", "Descripcion", "Unidades Vendidas","PVP"] # definir nombres de columnas
        
        francia.columns = columns # usar nombres correctos de columnas
        españa.columns = columns[:3]
        
        # crear columna de control para diferenciar datos despues de unirlos
        francia["pais"], españa["Pais"] = "Fr", "Es"
        
        # unir verticalmente los archivos de francia y españa, y despues unirlos con datos extra
        ventas = pd.concat([francia, españa]).merge(extra, left_on= "Articulo", right_on="ARTICULO")
        
        # Unir los datos por familia y sumar las unidades vendidas
        ventas_x_familia = ventas.groupby(["Articulo", "Descripcion", "pais"])["Unidades Vendidas"].sum().reset_index()
        
        tabla_dinamica = pd.pivot_table(
                                ventas_x_familia, 
                                values="Unidades Vendidas", 
                                index="Descripcion", 
                                columns="pais", 
                                aggfunc="sum"
                               )



        # Guardar la tabla con fecha de hoy
        fecha_hoy = datetime.now().strftime("%Y-%m-%d")
        output_file = f"Unidades Vendidas{today_date}.csv"
        tabla_dinamica.to_csv(output_file)
        
# Append the manipulated data to the historical file
with open(historical_file, 'a') as historical_data:
    pivot_table.to_csv(historical_data, header=False, mode='a')

In [ ]:
def run_job():
    print(f"Job started at {datetime.now()}")
    
# Schedule the job every day at 9:00 PM
schedule.every().day.at("21:00").do(run_job)

while True:
    schedule.run_pending()
    time.sleep(1)